h2{
  text-align: center;
  margin-bottom: 2%;
}

.panels{
  width: 70%;
  margin:auto;
  margin-bottom: 2%;
}

.bars{
  margin-top: 5%;
}

.panel-body{
  background-color: rgba(0, 246, 255, 0.13);
}

.panels-chart{
  width:80%;
}

.myDatas{
  margin-left: 60px;
}

#submits{
  margin-left: 34%;
  margin-right: 2px;
}

.primary{
  width: 15%;
  margin-bottom: 2%;
}

select{
  padding: 7px;
  width:50%;
  border-radius: 2px;
}

.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 15px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}

 .bar{
    fill: steelblue;
  }

  .bar:hover{
    fill: brown;
  }

  .axis {
    font: 10px sans-serif;
  }

  .remQuestion{
        color:yellow;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  @media screen and (max-width:420px){
    .myDatas{
      margin-left: 0px;
    }

    select{
      width: 100%;
      font-size: 0.9em;
    }

    #submits{
      margin-left: 16%;
    }

    h2{
      font-size: 24px;
      margin-bottom: 6%;
    }

    .primary{
      width: 32%; 
    }
  }